<form class="certificate-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <app-dropdown-field
    label="Certificate Type"
    id="certType"
    [options]="[
      { label: 'Root', value: 'root' },
      { label: 'Intermediate', value: 'intermediate' },
      { label: 'End-Entity', value: 'end-entity' }
    ]"
    [(ngModel)]="formData.type"
    name="type"
    required
  ></app-dropdown-field>

  <div class="switch-container">
    <app-switch
      label="Digital Signature"
      [(ngModel)]="formData.digitalSignature"
      name="digitalSignature"
    ></app-switch>

    <app-switch
      label="Key Encipherment"
      [(ngModel)]="formData.keyEncipherment"
      name="keyEncipherment"
    ></app-switch>
  </div>

  <app-input-field
    label="Issuer (Parent CA)"
    id="issuer"
    [(ngModel)]="formData.issuerId"
    name="issuerId"
    type="number"
  ></app-input-field>

  <app-input-field
    label="Common Name (CN)"
    id="cn"
    [(ngModel)]="formData.commonName"
    name="commonName"
    required
  ></app-input-field>

  <app-input-field
    label="Organization (O)"
    id="org"
    [(ngModel)]="formData.organization"
    name="organization"
  ></app-input-field>

  <app-input-field
    label="Organizational Unit (OU)"
    id="ou"
    [(ngModel)]="formData.organizationalUnit"
    name="organizationalUnit"
  ></app-input-field>

  <app-input-field
    label="Country (C)"
    id="country"
    [(ngModel)]="formData.country"
    name="country"
  ></app-input-field>

  <app-input-field
    label="Email (E)"
    id="email"
    [(ngModel)]="formData.email"
    name="email"
    type="email"
  ></app-input-field>

  <app-input-field
    label="Validity (days)"
    id="validity"
    [(ngModel)]="formData.validityDays"
    name="validityDays"
    type="number"
  ></app-input-field>

  <button type="submit" class="submit-button">Create Certificate</button>
</form>
