<div class="navbar-container">
  <div class="title">PKI System</div>
  <div class="button-container">
    <app-nav-button
      label="Certificates"
      (clicked)="onNavigation('/admin/certificates')"
    ></app-nav-button>
    <app-nav-button
      label="Create Certificate"
      (clicked)="onNavigation('/admin/certificates/create')"
    ></app-nav-button>
    <app-nav-button
      label="Profile"
      (clicked)="onNavigation('/profile')"
    ></app-nav-button>
    <app-nav-button
      label="Logout"
      (clicked)="onNavigation('')"
    ></app-nav-button>
  </div>
</div>
